.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #3e8e41;
}

.password {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.App-footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .password {
    font-size: 1.5rem;
  }
}
